<div class="animated fadeIn" id="login-box">
    <img src="app/assets/img/logo.svg">
    <form method="post" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username" class="control-label">Brukernavn</label>
            <input class="formcontrol" type="text" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required />

            <div *ngIf="f.submitted && !username.valid" class="help-block">Brukernavn må fylles ut</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password" class="control-label">Passord</label>
            <input class="formcontrol" type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />

            <div *ngIf="f.submitted && !password.valid" class="help-block">Passord må fylles ut</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" name="login">Logg inn</button>
            
        </div>
    </form>
</div>