<div id="login-box">
    <img src="assets/img/logo.svg">
    <form>
        <div class="form-group">
            <label for="username" class="control-label">Brukernavn</label>
            <input class="formcontrol" type="text" id="username" name="username" placeholder="">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Passord</label>
            <input class="formcontrol" type="password" id="password" name="password" placeholder="">
        </div>
        <div class="form-group">
            <button type="submit" name="login">Logg inn</button>
        </div>
    </form>
</div>
