<h1>{{mission.title}}</h1>

<div class="mission-active-info">
    <p *ngIf="mission.isEmergency"><span class="icon pe-7s-attention"></span> Nødsituasjon</p>
    
    <h3 *ngIf="mission.creator"><span class="helpertxt">Opprettet av:</span> {{mission.creator.name}}</h3><br>
    <h3 *ngIf="mission.meetingPoint"><span class="helpertxt">Oppmøtested:</span> <a href="http://maps.google.com/?q={{mission.meetingPoint.lat}},{{mission.meetingPoint.lng}}" target="_blank"> {{mission.meetingPointNicename}}</a></h3>
    
    <h3><span class="helpertxt">Varighet:</span> {{mission.dateStart | date: 'dd/MM/yyyy H:mm' }} - {{mission.dateEnd | date: 'dd/MM/yyyy H:mm' }} </h3><br>
    <p class="description">{{mission.description}}</p>
</div>
<h2 style="margin-top: 2em; border-bottom: 2px solid #acacac">Status for mannskap</h2>

<table>
    <thead>
        <th>Navn</th>
        <th>Stiller</th>
        <th>Dato besvart</th>
        <th>Beskjed</th>
        <th>Lokaliserbar?</th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </tbody>
</table>

<button (click)="delete()" class="red">Slett aksjon</button>
