<h1>Opprett ny aksjon</h1>

<article>
    <div *ngIf="mission" class="animated fadeIn">
        <h2>{{mission.title}}</h2>
        <form (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate method="post">
            <div class="form-sub-heading" data-number="1">
                <h3>Info</h3>
            </div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                <label for="title" class="control-label">Tittel</label>
                <input [(ngModel)]="mission.title" class="formcontrol" type="text" name="title" id="title" placeholder="" required #title="ngModel">
                <div *ngIf="f.submitted && !title.valid" class="help-block animated fadeIn">Tittel må fylles ut</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dateStart.valid }">
                <label for="dateStart" class="control-label">Startdato</label>
                <input [(ngModel)]="mission.dateStart" class="flatpickr" id="dateStart" name="dateStart" type="datetime-local" required #dateStart="ngModel">
                <div *ngIf="f.submitted && !dateStart.valid" class="help-block animated fadeIn">Startdato/klokkeslett må fylles ut</div>
            </div>


            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !meetingPoint.valid }">
                <label for="meetingPoint" class="control-label">Oppmøtested</label>
                <input [(ngModel)]="mission.meetingPointNicename" name="meetingPointNicename" id="geo_search" class="controls" type="text"
                    placeholder="Skriv inn et sted..." required #meetingPoint="ngModel">
                <div *ngIf="f.submitted && !meetingPoint.valid" class="help-block animated fadeIn">Oppmøtested må velges</div>
            </div>
            <map-picker [mission]="mission"></map-picker>

            <div class="form-group">
                <input [(ngModel)]="mission.isEmergency" id="emergency" type="checkbox" name="emergency">
                <label for="emergency">Nødsituasjon? </label>
                <div class="helper-text">Ved nødsituasjonerer vil alle bli varslet uavhengig av tilgjengelighet</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                <label for="description" class="control-label">Beskrivelse</label>
                <textarea [(ngModel)]="mission.description" class="form-control" name="description" required #description="ngModel"></textarea>
                <div *ngIf="f.submitted && !description.valid" class="help-block animated fadeIn">Aksjonen må ha en beskrivelse</div>
            </div>
            <div class="form-sub-heading" data-number="2">
                <h3>Varsling</h3>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !message.valid }">
                <div class="helper-text">Denne beskjeden blir sendt ut som push-varsling til de som har app</div>
                <label for="message" class="control-label">Beskjed</label>
                <textarea [(ngModel)]="alarm.message" class="form-control" name="message" required #message="ngModel"></textarea>
                <div *ngIf="f.submitted && !message.valid" class="help-block animated fadeIn">Varslingsmelding må fylles ut</div>
            </div>

            <h3>Velg medlemmer som skal varsles</h3>
            <p>Bare medlemmer som har SAR-Status kan varsles.</p>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && peopleList.selectedPeople.length == 0 }">
                <div *ngIf="f.submitted && peopleList.selectedPeople.length == 0" class="help-block animated fadeIn">Du må velge noen å sende ut varsling til</div>
                <people></people>
            </div>

            <div class="form-group">
                <!--<button type="submit" (click)="save()">Opprett aksjon</button> -->
                <button type="submit" name="save">Opprett aksjon</button>
                <button (click)="cancel()">Avbryt</button>
            </div>

            <div *ngIf="f.submitted" class="form-group error" [ngClass]="{ 'has-error': f.submitted }">
                Noen av feltene er ikke riktig fylt ut. Se gjennom skjemaet

            </div>
        </form>
    </div>
</article>