<filter-text (changed)="filterChanged($event)">
</filter-text>
<sk-three-bounce [isRunning]="isLoading"></sk-three-bounce>
<table class="animated fadeIn">
    <thead>
        <th style="width:10px;"></th>
        <th>Navn</th>
        <th>Dato</th>
        <th>Beskrivelse</th>
        <th>Aktiv?</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let mission of filteredMissions" class="animated fadeIn">
            <td style="width:10px;"><a title="Nødsituasjon"><span *ngIf="mission.isEmergency" class="pe-7s-attention emergency"></span></a></td>
            <td>{{mission.name}}</td>
            <td>01/01/01</td>
            <td>Lorem ipsum dolor sit amet</td>
            <td><span style="color: green;">Ja</span></td>
            <td>
                <button [routerLink]="['/missions', mission.ID]">Vis</button>
            </td>
        </tr>
    </tbody>
</table>
