<h1>Opprett ny aksjon</h1>

<article>
    <div *ngIf="mission" class="animated fadeIn">
        <h2>{{mission.title}}</h2>
        <form>
            <div class="form-sub-heading" data-number="1">
                <h3>Info</h3>
            </div>
            <div class="form-group">
                <label for="name" class="control-label">Navn</label>
                <input [(ngModel)]="mission.title" class="formcontrol" type="text" name="name" placeholder="">
            </div>
            <div class="form-group">
                <label for="date-start" class="control-label">Startdato</label>
                <input [(ngModel)]="mission.dateStart" class="flatpickr" id="date-start" name="date-start" type="datetime-local">
            </div>
            <div class="form-group">
                <label for="meetingpoint" class="control-label">Oppmøtested</label>
                <input [(ngModel)]="mission.meetingPointNicename" name="meetingPointNicename" id="geo_search" class="controls" type="text"
                    placeholder="Skriv inn et sted...">
            </div>
            <map-picker [mission]="mission"></map-picker>


            <div class="form-group">
                <input [(ngModel)]="mission.isEmergency" id="emergency" type="checkbox" name="emergency">
                <label for="emergency">Nødsituasjon? </label>
                <div class="helper-text">Ved nødsituasjonerer vil alle bli varslet uavhengig av tilgjengelighet</div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">Beskrivelse</label>
                <textarea [(ngModel)]="mission.description" class="form-control" name="description"></textarea>
            </div>
            <div class="form-sub-heading" data-number="2">
                <h3>Varsling</h3>
                <h4 style="font-style:italic; padding: 1.5em 0; font-family: 'MyriadPro-Regular'; line-height: 1.8em;">En aksjon kan ha flere varslinger. Disse vil dukke opp som push-varslinger hos de som har SAR-Status innstallert.
                    Flere varslinger kan sendes mens aksjonen pågår</h4>
            </div>

            <div class="form-group" *ngIf="alarm">
                <label for="description" class="control-label">Melding</label>
                <textarea [(ngModel)]="alarm.message" class="form-control" name="message"></textarea>
                <div class="helper-text">Denne beskjeden sendes som push-varsling sammen med varslingen.</div>
            </div>

            <h3>Velg medlemmer som skal varsles</h3>
            <p>Bare medlemmer som har SAR-Status kan varsles.</p>

            <people></people>

            <div class="form-group">
                <button type="submit" (click)="save()">Opprett aksjon</button>
                <button (click)="cancel()">Avbryt</button>
                <!--    <button (click)="modal.open()" [class.hidden]="isAddMode()">Slett</button> -->
            </div>
        </form>
    </div>
</article>