<h1>Aksjoner</h1>

<filter-text (changed)="filterChanged($event)">
</filter-text>
<sk-three-bounce [isRunning]="isLoading"></sk-three-bounce>
<table class="missions animated fadeIn">
    <thead>
        <th></th>
        <th>Aktiv?</th>
        <th>Navn</th>
        <th>Dato</th>
        <th>Opprettet av</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let mission of filteredMissions" class="animated fadeIn">
            
            <td><a title="Nødsituasjon"><span *ngIf="mission.isEmergency" class="pe-7s-attention emergency"></span></a></td>
            <td>{{mission.isActive}}</td>
            <td>{{mission.title}}</td>
            <td>{{mission.dateStart | date: 'dd/MM/yyyy H:mm' }} - {{mission.dateEnd | date: 'dd/MM/yyyy H:mm'}}</td>  
            <td>{{mission.creator}}</td>
            <td>
                <button [routerLink]="['/missions', mission.ID]">Vis</button>
            </td>
        </tr>
    </tbody>
</table>
