<h3 *ngIf="userService.user">Hei, {{userService.user.name}} </h3>


<h1>Aksjoner</h1>

<div class="filter-buttons">
    <div class="filter-button">
        <input type="radio" name="filter-missions" value="all" id="all" (click)="changefilterWhichMissions('all')" checked>
        <label for="all">Vis alle</label>
    </div>
    <div class="filter-button">
        <input type="radio" name="filter-missions" value="active" id="active" (click)="changefilterWhichMissions('active')" >
        <label for="active">Vis aktive</label>
    </div>
    <div class="filter-button">
        <input type="radio" name="filter-missions" value="ended" id="ended"  (click)="changefilterWhichMissions('ended')">
        <label for="ended">Vis avsluttede</label>
    </div>
</div>

<filter-text (changed)="filterChanged($event)">
</filter-text>
<sk-three-bounce [isRunning]="isLoading"></sk-three-bounce>

<div *ngFor="let mission of filteredMissions" class="mission animated fadeInUp" [routerLink]="['/mission-active', mission.id]">


    <div *ngIf="mission.isEmergency" class="emergency" title="Nødsituasjon"><span class="pe-7s-attention"></span></div>
    <h2>{{mission.title}}</h2>
    <p *ngIf="!mission.isActive" style="color: rgba(0,0,0,0.5); text-transform: uppercase;">Avsluttet</p>
    <h3><span class="pe-7s-map-marker"></span>{{mission.meetingPointNicename}}</h3>

    <h3><span class="pe-7s-date"></span>Startet: {{mission.dateStart | date: 'dd/MM/yyyy H:mm' }}</h3>
    <h3 *ngIf="mission.dateEnd"><span class="pe-7s-date"></span>Avsluttet: {{mission.dateEnd | date: 'dd/MM/yyyy H:mm' }} </h3>
    <p class="description">{{mission.description}}</p>
</div>