<table>
                <thead>
                    <th>Velg</th>
                    <th>Tilgjengelig</th>
                    <th>Navn</th>
                    <th>E-post</th>
                </thead>
                <tbody>


                    <tr *ngFor="let SARUser of people">
                        <td>
                            <input id="c1" type="checkbox" name="ola-normann">
                            <label for="c1"></label>
                        </td>
                        <td>-</td>
                        <td>{{SARUser.name}}</td>
                        <td>{{SARUser.email}}</td>
                    </tr>
                   
                </tbody>
            </table>