
    <div *ngIf="alarm" class="animated fadeIn" style="display:none;"  [class.is-active]="visible">
        <h2 style="margin-top: 2em; border-bottom: 2px solid #acacac">Lag en ny varsling for denne aksjonen</h2>
        <form (ngSubmit)="f.form.valid && save()"  #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !message.valid }">
                <label for="message" class="control-label">Beskjed</label>
                
                <textarea [(ngModel)]="alarm.message"class="form-control" name="message" #message="ngModel" required></textarea>
                <div *ngIf="f.submitted && !message.valid" class="help-block">Beskjed må fylles ut</div>
            </div>
            <div class="form-group">
                <button type="submit"><i class="fa fa-plus"></i>Opprett varsling</button>
                <button (click)="cancel()"><i class="fa fa-remove"></i>Avbryt</button>
            </div>
        </form>
    </div>
